In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Fbref-data/complete_dataset_ESP_La_Liga_2020.csv")

In [3]:
# 📌 Basic Info
print("🔎 Shape of the dataset:", df.shape)
print("\n📄 First 5 rows:")
display(df.head())

print("\n🧠 Info:")
df.info()

print("\n📊 Statistical Summary:")
display(df.describe(include='all'))

# 🧹 Missing Values
print("\n🧼 Missing Values:")
display(df.isnull().sum().sort_values(ascending=False))

# 🆔 Duplicates
print("\n🪞 Number of Duplicate Rows:", df.duplicated().sum())

# 📊 Data Types
print("\n🔢 Column Data Types:")
display(df.dtypes)

# 🧮 Unique Values
print("\n🧬 Unique Values Per Column:")
display(df.nunique().sort_values(ascending=False))

🔎 Shape of the dataset: (581, 162)

📄 First 5 rows:

,league,season,team,player,nation,pos,age,born,Playing Time MP,Playing Time Starts,...,Carries TotDist,Carries PrgDist,Carries PrgC,Carries 1/3,Carries CPA,Carries Mis,Carries Dis,Receiving Rec,Receiving PrgR,stat_type_possession
0,ESP-La Liga,2020,Granada,Aarón Escandell,ESP,GK,24,1995,5,5,...,522,309,0,0,0,0,0,49,0,possession
1,ESP-La Liga,2020,Celta Vigo,Aarón Martín,ESP,DF,23,1997,19,17,...,2261,1121,32,24,3,14,7,603,86,possession
2,ESP-La Liga,2020,Getafe,Abdoulay Diaby,MLI,DF,29,1991,1,0,...,94,50,2,1,0,0,1,11,4,possession
3,ESP-La Liga,2020,Real Sociedad,Adnan Januzaj,BEL,"FW,MF",25,1995,27,12,...,3075,1574,45,39,10,36,22,557,116,possession
4,ESP-La Liga,2020,Osasuna,Adrián López,ESP,"FW,MF",32,1988,17,5,...,905,335,12,11,6,22,9,201,43,possession

🧠 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581 entries, 0 to 580
Columns: 162 entries, league to stat_type_possession
dtypes: float64(42), int64(99), object(21)
memory usage: 735.5+ KB

📊 Statistical Summary:

,league,season,team,player,nation,pos,age,born,Playing Time MP,Playing Time Starts,...,Carries TotDist,Carries PrgDist,Carries PrgC,Carries 1/3,Carries CPA,Carries Mis,Carries Dis,Receiving Rec,Receiving PrgR,stat_type_possession
count,581,581.0,581,581,581,581,581.000000,581.000000,581.000000,581.000000,...,581.000000,581.000000,581.000000,581.000000,581.000000,581.000000,581.000000,581.000000,581.000000,581
unique,1,NaN,20,566,59,10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
top,ESP-La Liga,NaN,Granada,Sofian Chakla,ESP,DF,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,possession
freq,581,NaN,34,2,359,170,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,581
mean,NaN,2020.0,NaN,NaN,NaN,NaN,25.931153,1993.774527,19.974182,14.387263,...,2169.290878,1107.820998,20.683305,16.242685,4.652324,18.833046,10.991394,481.588640,46.051635,NaN
std,NaN,0.0,NaN,NaN,NaN,NaN,4.562449,4.551518,11.683514,11.337143,...,2018.916626,1114.881029,25.763705,20.097125,8.654456,20.928730,13.305493,449.909854,60.773469,NaN
min,NaN,2020.0,NaN,NaN,NaN,NaN,16.000000,1979.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,2020.0,NaN,NaN,NaN,NaN,22.000000,1991.000000,10.000000,4.000000,...,547.000000,241.000000,2.000000,2.000000,0.000000,3.000000,1.000000,123.000000,3.000000,NaN
50%,NaN,2020.0,NaN,NaN,NaN,NaN,26.000000,1994.000000,22.000000,13.000000,...,1676.000000,803.000000,12.000000,9.000000,1.000000,11.000000,6.000000,375.000000,20.000000,NaN
75%,NaN,2020.0,NaN,NaN,NaN,NaN,29.000000,1997.000000,31.000000,24.000000,...,3199.000000,1641.000000,30.000000,24.000000,5.000000,29.000000,16.000000,695.000000,68.000000,NaN
max,NaN,2020.0,NaN,NaN,NaN,NaN,41.000000,2004.000000,38.000000,38.000000,...,13045.000000,7334.000000,215.000000,222.000000,65.000000,163.000000,87.000000,2519.000000,354.000000,NaN

🧼 Missing Values:

Standard G/SoT          193
Standard SoT%           102
Standard G/Sh           102
Standard Dist           102
Expected npxG/Sh        102
                       ...
Carries Mis               0
Carries Dis               0
Receiving Rec             0
Receiving PrgR            0
stat_type_possession      0
Length: 162, dtype: int64

🪞 Number of Duplicate Rows: 0

🔢 Column Data Types:

league                  object
season                   int64
team                    object
player                  object
nation                  object
                         ...
Carries Mis              int64
Carries Dis              int64
Receiving Rec            int64
Receiving PrgR           int64
stat_type_possession    object
Length: 162, dtype: object

🧬 Unique Values Per Column:

Total TotDist           568
player                  566
Carries TotDist         541
Total PrgDist           536
Playing Time Min        512
                       ...
stat_type_shooting        1
stat_type_misc            1
stat_type_defense         1
stat_type_passing         1
stat_type_possession      1
Length: 162, dtype: int64

In [8]:
# 🧠 Value Counts for Object (Categorical) Columns
cat_cols = df.select_dtypes(include='object').columns
for col in cat_cols:
    print(f"\n🧾 Value counts for: {col}")
    display(df[col].value_counts().head(10))
    print("-" * 50)

🧾 Value counts for: league

league
ESP-La Liga    581
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: team

team
Granada          34
Cádiz            34
Valladolid       32
Getafe           31
Real Sociedad    30
Celta Vigo       30
Valencia         30
Eibar            30
Real Madrid      30
Elche            30
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: player

player
Sofian Chakla         2
Carlos Fernández      2
Kenan Kodro           2
Adrián Marín          2
Carles Aleñá          2
Geoffrey Kondogbia    2
Iñigo Córdoba         2
Jota                  2
Lucas Olaza           2
Bryan Gil             2
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: nation

nation
ESP    359
ARG     29
FRA     20
BRA     19
URU     17
POR     16
SRB      9
MAR      7
COL      7
GHA      6
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: pos

pos
DF       170
MF       132
FW        73
MF,FW     62
FW,MF     52
GK        41
DF,MF     23
MF,DF     18
DF,FW      6
FW,DF      4
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: stat_type

stat_type
standard    581
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: nation_shooting

nation_shooting
ESP    359
ARG     29
FRA     20
BRA     19
URU     17
POR     16
SRB      9
MAR      7
COL      7
GHA      6
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: pos_shooting

pos_shooting
DF       170
MF       132
FW        73
MF,FW     62
FW,MF     52
GK        41
DF,MF     23
MF,DF     18
DF,FW      6
FW,DF      4
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: stat_type_shooting

stat_type_shooting
shooting    581
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: nation_misc

nation_misc
ESP    359
ARG     29
FRA     20
BRA     19
URU     17
POR     16
SRB      9
MAR      7
COL      7
GHA      6
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: pos_misc

pos_misc
DF       170
MF       132
FW        73
MF,FW     62
FW,MF     52
GK        41
DF,MF     23
MF,DF     18
DF,FW      6
FW,DF      4
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: stat_type_misc

stat_type_misc
misc    581
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: nation_defense

nation_defense
ESP    359
ARG     29
FRA     20
BRA     19
URU     17
POR     16
SRB      9
MAR      7
COL      7
GHA      6
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: pos_defense

pos_defense
DF       170
MF       132
FW        73
MF,FW     62
FW,MF     52
GK        41
DF,MF     23
MF,DF     18
DF,FW      6
FW,DF      4
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: stat_type_defense

stat_type_defense
defense    581
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: nation_passing

nation_passing
ESP    359
ARG     29
FRA     20
BRA     19
URU     17
POR     16
SRB      9
MAR      7
COL      7
GHA      6
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: pos_passing

pos_passing
DF       170
MF       132
FW        73
MF,FW     62
FW,MF     52
GK        41
DF,MF     23
MF,DF     18
DF,FW      6
FW,DF      4
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: stat_type_passing

stat_type_passing
passing    581
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: nation_possession

nation_possession
ESP    359
ARG     29
FRA     20
BRA     19
URU     17
POR     16
SRB      9
MAR      7
COL      7
GHA      6
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: pos_possession

pos_possession
DF       170
MF       132
FW        73
MF,FW     62
FW,MF     52
GK        41
DF,MF     23
MF,DF     18
DF,FW      6
FW,DF      4
Name: count, dtype: int64

--------------------------------------------------

🧾 Value counts for: stat_type_possession

stat_type_possession
possession    581
Name: count, dtype: int64

--------------------------------------------------

In [9]:
# Percent of missing values
missing_ratio = df.isnull().mean() * 100
missing_ratio[missing_ratio > 0].sort_values(ascending=False)

Standard G/SoT       33.218589
Standard SoT%        17.555938
Standard G/Sh        17.555938
Standard Dist        17.555938
Expected npxG/Sh     17.555938
Take-Ons Succ%       16.179002
Take-Ons Tkld%       16.179002
Challenges Tkl%       8.605852
Aerial Duels Won%     5.507745
Long Cmp%             4.475043
Medium Cmp%           1.721170
Short Cmp%            1.376936
Total Cmp%            0.688468
dtype: float64

In [10]:
constant_cols = [col for col in df.columns if df[col].nunique() == 1]
print("Constant columns:", constant_cols)

Constant columns: ['league', 'season', 'stat_type', 'stat_type_shooting', 'stat_type_misc', 'stat_type_defense', 'stat_type_passing', 'stat_type_possession']

In [14]:
# Check how many times each player appears
player_counts = df['player'].value_counts()
duplicate_players = player_counts[player_counts > 1]

print(f"Number of duplicate player names: {len(duplicate_players)}")
display(duplicate_players.head(10))

Number of duplicate player names: 15

player
Sofian Chakla         2
Carlos Fernández      2
Kenan Kodro           2
Adrián Marín          2
Carles Aleñá          2
Geoffrey Kondogbia    2
Iñigo Córdoba         2
Jota                  2
Lucas Olaza           2
Bryan Gil             2
Name: count, dtype: int64